<section class="header">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="lib/images/logo.png" class="img-responsive">
        </a>
        <div class="logo-text">
          <a href="#">
            BASKETFIRE
          </a>
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ui-sref="logout">Sair</a></li>
      </ul>
    </div>
  </nav>
</section>

